body{
    background-color: black;
}
img{
    border: solid 4px white;
    border-radius: 10px;
    position: center;
    height: auto;
    width: 40%;
    margin-left: 30%;
    margin-top: 40px;
}
#h1{
    
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    font-size: 250%;
}
.dic{
    color: rgb(255, 255, 255);
    text-align: center;
}
#p{
    font-size: 130%;
}

