.button{
    background-color: #e90808; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
body{
    background-color: rgb(34, 95, 181);
}
footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #ba7b2f;
    color: white;
    text-align: center;
    padding: 10px 0;
q}